AMAZON_ASSOCIATE_TAG=sua-tag-aqui
AMAZON_SOURCE=manual_fixed
DATABASE_URL=sqlite:///./data/promos.db

# Futura integração oficial:
AMAZON_CREATORS_API_ENABLED=false
AMAZON_CREATORS_API_PUBLIC_KEY=
AMAZON_CREATORS_API_PRIVATE_KEY=
AMAZON_CREATORS_API_PARTNER_TAG=
AMAZON_MARKETPLACE=www.amazon.com.br
AMAZON_REGION=br
AMAZON_LIVE_PRICE_LIMIT=20
